:focus{
  outline: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body{
  background: #000;
  text-align: center;
  margin: 0;padding: 0;
  font-family: Monospace;
  font-weight: bold;
  user-select: none;
  overflow: hidden;
}

.card > img{
  pointer-events: none;
}

span{
  display: inline-block;
  position: fixed;
  border-radius: 50%;
}

.card{
  width: 80%;
  min-height: 60%;
  max-height: 80%;
  overflow: auto;
  display: inline-block;
  position: fixed;
  z-index: 4;
  background: rgba(25,25,25,.2);
  backdrop-filter: blur(7px);
  top: 10%; left: 10%;
  border-bottom: 4px solid #00b09b;
}

a{
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a img{
  display: inline-block;
  width: 50px;
  margin: 6px;
  margin-bottom: 10%;
}
a:active img{
  transform: scale(.8);
}

.pfp{
  max-width: 50%;
  margin-top: 10%;
}

p{
  font-size: 20px;
  color: mintcream;
}

button{
  border: none;
  background: #00b09b;
  color: #fff;
  font-size: 24px;
  padding: 8px 16px;
  display: inline-block;
  margin: 12px;
  font-family: Monospace;
}

button:active{
  transform: scale(0.8);
}